
@{
    ViewBag.Title = "CustomerDetailsWithOrderId";
}

<h2>CustomerDetailsWithOrderId</h2>
<table>
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
    </tr>

    <tr>
        <td>@Model.CustomerID</td>
        <td>@Model.CompanyName</td>
        <td>@Model.ContactName</td>
    </tr>
</table>
